/* hotel_form.css */
#formTitle {
    -fx-text-fill: #333;
}

Button {
    -fx-background-color: #1976d2;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

TextField {
    -fx-pref-width: 300;
}
